.mat-table{
  width: 100%
}


.div{
  width: 700px
}


.mat-header-cell{
  width: 700px;
  text-align: left;
  padding: 15px;
}


.mat-cell{
  padding: 15px
}


.parcel-table{
  margin: 30px
}


.mat-raised-button__functional{
  margin: 10px;
  margin-left: 0;
}

