<div class="building-table">
  <h2>Budynki i budowle</h2>

  <button mat-raised-button class="mat-raised-button__functional" (click)="openForm()"> Nowy rekord </button>
  <button mat-raised-button class="mat-raised-button__functional" > Eksport do excell </button>

  <mat-form-field>
    <mat-label>Szukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="np. id budynku">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table cellspacing='2' cellpadding='40' [dataSource]='dataSource'>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Lp </th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="buildingID">
        <th mat-header-cell *matHeaderCellDef> Id Budynku </th>
        <td mat-cell *matCellDef="let element">{{element.id_budynku}}</td>
      </ng-container>

      <ng-container matColumnDef="buildingType">
        <th mat-header-cell *matHeaderCellDef> Rodzaj obiektu </th>
        <td mat-cell *matCellDef="let element">{{element.rodzaj_obiektu}}</td>
      </ng-container>

      <ng-container matColumnDef="buildYear">
        <th mat-header-cell *matHeaderCellDef> Rok budowy </th>
        <td mat-cell *matCellDef="let element">{{element.rok_budowy}}</td>
      </ng-container>

      <ng-container matColumnDef="parcelNumber">
        <th mat-header-cell *matHeaderCellDef> Numer działki </th>
        <td mat-cell *matCellDef="let element">{{element.numer_dzialki}}</td>
      </ng-container>

      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> Województwo </th>
        <td mat-cell *matCellDef="let element">{{element.wojewodztwo}}</td>
      </ng-container>

      <ng-container matColumnDef="countie">
        <th mat-header-cell *matHeaderCellDef> Powiat </th>
        <td mat-cell *matCellDef="let element">{{element.powiat}}</td>
      </ng-container>

      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef> Gmina </th>
        <td mat-cell *matCellDef="let element">{{element.gmina}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Usuwanie </th>
        <td mat-cell *matCellDef="let score; let i = index;">
          <button mat-raised-button (click)="removeAt(i)" matTooltip="Usuń wiersz"> Usuń </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edycja </th>
        <td mat-cell *matCellDef="let score; let i = index;">
          <button mat-raised-button (click)="openEdit(i)" matTooltip="Edutuj wiersz"> Edytuj </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50,100,200,1000]" showFirstLastButtons></mat-paginator>
  </div>
</div>



