
 <div class="container-fluid">
  <div class="row">

    <div class="col-sm-2" style="background-color: #707070;">
      <img mat-card-image class="logo" src="assets/logo.gif">
    </div>

    <div class="col-sm-8" style="background-color: #707070;">
      <h1 class="tittle">
        Województwo Zachodniopomorskie - mienie Skarbu Państwa
      </h1>
    </div>

    <div class="col-sm-2" style="background-color: #707070;">
      <button class="logoutBtn" mat-raised-button (click)="logout()">Wyloguj</button>
    </div>
  </div>
 </div>
