
.logo {
  justify-content: center;
  position: static;
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  width: 150px;
}

.tittle {
  margin-top: 20px;
}

.logoutBtn {
  justify-content: right;
  margin-top: 20px;
}
