.editContainer {
  text-align: center;
  background-color: #707070;
  color: white;
  margin: 0;
  padding: 0;
}

.container-fluid{
  width:300px;
  max-width:100%;
  margin:50px auto;
}

.col-md-12 {
  margin: 10px;
  width: 320px
}

input {
  width: 300px;
}

.mat-raised-button {
  margin-bottom: 30px;
  margin-top: 15px;
}
